%h1 Shops
- @shops.each do |shop|
  %p
    = shop.name
  %h4 Comments
  = form_for [shop, Comment.new] do |f|
    = f.text_area :body, placeholder: "Add a comment"
    %br/
    = f.submit "Add Comment"
  %ul
    = render(partial: 'comments/comment', collection: shop.comments)
